* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  width: 100%;
  height: 4.6875rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 2;
}

header img {
  width: 9.6875rem;
  height: 2.6875rem;
}

header nav {
  display: flex;
  gap: 2.1875rem;
}

header a {
  text-decoration: none;
  color: #013879;
  font-weight: 500;
}

.banner img {
  width: 100%;
  height: auto;
  margin-top: 4.5rem;
}

.tourNoiBat {
  margin-top: 3rem;
  text-align: center;
}

.tourNoiBat h2 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #013879;
}

.tours {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 8rem;
  text-align: left;
}

.tour1 {
  width: 100%;
  height: 18.75rem;
  overflow: hidden;
}

.tours img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.tours img:hover {
  transform: scale(1.1);
}

.timing {
  font-size: 0.8rem;
  margin: 10px 0 6px 0;
  font-weight: 400;
}

.tourName {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 6px 0;
}

.tourId {
  font-size: 0.9rem;
  margin: 0 0 6px 0;
}

.startdes {
  font-size: 0.9rem;
  margin: 0 0 6px 0;
}

.btn-tour {
  width: 223px;
  height: 56px;
  background-color: #ED1B35;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-tour:hover {
  background-color:#0095dc;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 149, 220, 0.6);
}

.favoriteTour {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.favoriteTour h2 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: #013879;
}

.favoriteImg {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  padding: 0 8rem;
}

.favoriteImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img1 {
  position: relative;
  display: inline-block;
}

.img1 img{
  width: 100%;
  height: 37.9375rem;
  object-fit: cover;
  display: block;
}

.img1 .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.5rem;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.img1:hover img {
  filter: brightness(50%);
}

.img1:hover .overlay {
  opacity: 1;
}

.img23 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  gap: 1rem;
}

.img23 img {
  width: 100%;
  height: 18.4725rem;
  object-fit: cover;
}

.img234 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,1fr);
  row-gap: 0.5rem;
}

.img4 img {
  width: 100%;
  height: 18.469375rem;
  object-fit: cover;
}

footer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 3rem 8rem;
  gap: 3rem;
  background-color: #013879;
}

footer p {
  color: white;
}

.inDam {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 577px) and (max-width: 767px) {
  
}
